<div class="user-login-container">
    <header class="header-one">
        <img id ="header-image" src="../../assets/images/login.jpg">
    </header>
    <section id="login-form">
        <div class="container">
            <h3 class="login-page-heading">Registered customers</h3>
            <div class="form">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="email" placeholder="Email / Phone number*  ">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                    
                <button type="submit" class="login-button">Login</button>
                <div class="forgot-password">
                    <a href="#" class="text-center">Forgot your password?</a>
                </div>
                <div class="register-now">
                    <a href="#" class="text-center">New user? Register Now</a>
                </div>
            </div>
        </div>
    </section>
</div>